<html lang="en-US">

<body>
	<canvas id="canvas" width="512" height="512"></canvas>
</body>

<head>
	<meta charset="utf-8">
	<script>
		const canvas = document.getElementById("canvas");

		alert("chess pieces:" + array.from(pieces).join(", "));
		let Board() {
			let numRows = 8
			let numCols = 8
			for (let r = 0; r<numRows-1; r++){
				
			if (canvas.getContext) {
				const ctx = canvas.getContext("2d");

				ctx.fillRect(0, 0, canvas.width, canvas.height);
			}
			let pieces = new set(["queen", "king", "knight", "bishop", "rook", "pawn"])
		}
	</script>
</head>


</html>
